<div>
  <mat-card>
    <mat-card-content>
      <form class="example-form" [formGroup]="editAccountForm" (ngSubmit)="editAccount()">

        <mat-form-field class="example-full-width">
          <input matInput name="firstName" placeholder="First Name" value=""
                 [formControl]="editAccountForm.controls['firstName']">
        </mat-form-field>
        <small
          *ngIf="editAccountForm.controls['firstName'].hasError('required') && editAccountForm.controls['firstName'].touched"
          class="form-error-msg"> First name is required </small>

        <mat-form-field class="example-full-width">
          <input matInput name="lastName" placeholder="Last Name" value=""
                 [formControl]="editAccountForm.controls['lastName']">
        </mat-form-field>
        <small
          *ngIf="editAccountForm.controls['lastName'].hasError('required') && editAccountForm.controls['lastName'].touched"
          class="form-error-msg"> Last name is required </small>


        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" value=""
                 [formControl]="editAccountForm.controls['password']"
                 type="password"
          >
        </mat-form-field>
        <small
          *ngIf=" editAccountForm.controls['password'].hasError('password') && editAccountForm.controls['password'].touched"
          class="form-error-msg"> Password is required </small>


        <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="editAccountForm.invalid">Edit account</button>

      </form>

    </mat-card-content>
  </mat-card>
</div>
