<app-main-nav (messageEvent)="receiveMessage($event)"></app-main-nav>
<div style="margin-left: 200px">
  <app-add-user *ngIf="message=='/addUser'"></app-add-user>
  <app-disable-user *ngIf="message=='/changeStatusDisable'"></app-disable-user>
  <app-enable-user *ngIf="message=='/changeStatusEnable'"></app-enable-user>
  <app-see-all-users *ngIf="message=='/seeUsers'"></app-see-all-users>
  <app-create-subscription *ngIf="message=='/createSubscription'"></app-create-subscription>
  <app-disable-subscription *ngIf="message=='/disableSubscription'"></app-disable-subscription>
  <app-all-subscriptions *ngIf="message=='/allSubscriptions'"></app-all-subscriptions>
  <app-all-activities *ngIf="message=='/allActivities'"></app-all-activities>
</div>
