<app-main-nav (messageEvent)="receiveMessage($event)"></app-main-nav>
<div style="margin-left: 200px">
  <app-add-user *ngIf="message=='/addUser'"></app-add-user>
  <app-add-activity *ngIf="message=='/addActivity'"></app-add-activity>
  <app-my-activities *ngIf="message=='/myActivities'"></app-my-activities>
  <app-edit-account *ngIf="message=='/editAccount'"></app-edit-account>
</div>
