<div style="text-align: center"><p>Are you sure?</p></div>
<div>
  <button mat-raised-button style="margin-left: 50px" (click)="deleteActivity()" >Yes</button>
  <button  mat-raised-button style="margin-right: 50px;float: right;" color="primary" (click)="onNoClick()">Close</button>
</div>
