<div style="padding: 6px">
  <table mat-table matSort martSortActvive='startDate' matSortDirection="desc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate*1000 | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.availableSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remainingSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.remainingSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
      <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Edit Tax Version Column -->
    <ng-container matColumnDef="editVersion">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" width="10%">
        <button mat-button [disabled]="!element.available" (click)="editDialog(element)" color="primary">Edit</button>
      </td>
    </ng-container>

    <!-- Delete Tax Version Column -->
    <ng-container matColumnDef="deleteVersion">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" width="10%">
        <button mat-button color="warn" [disabled]="!element.available" (click)="deleteDialog(element.id)">Cancel</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
