<div>
  <mat-card>
    <mat-card-content>

      <form class="example-form" [formGroup]="disableSubscriptionForm" (ngSubmit)="disableSubscription()">
        <mat-form-field>
          <mat-select placeholder="User Name"
                      [formControl]="disableSubscriptionForm.controls['userName']">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user.firstName +" "+user.lastName}}
            </mat-option>

          </mat-select>
        </mat-form-field>
        <small
          *ngIf="disableSubscriptionForm.controls['userName'].hasError('required') && disableSubscriptionForm.controls['userName'].touched"
          class="form-error-msg"> User Name is required </small>

        <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="disableSubscriptionForm.invalid">Disable subscription</button>

      </form>

    </mat-card-content>
  </mat-card>
</div>
