<div style="padding: 40px">
  <table mat-table matSort martSortActvive='startDate' matSortDirection="desc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="trainerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.trainer.firstName}} {{element.trainer.lastName}}   </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate*1000 | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.availableSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remainingSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.remainingSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
      <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = row"
    >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" *ngIf="element.participants.length > 0">

          <table mat-table [dataSource]="element.participants" class="mat-elevation-z8" width="100%">

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef> Participants </th>
              <td mat-cell *matCellDef="let elem" align="center"> {{elem.firstName}} {{elem.lastName}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsVersion"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsVersion;"></tr>
          </table>
        </div>
      </td>
    </ng-container>


  </table>
</div>
