<div style="padding: 40px">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}   </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="activationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Activation Date </th>
      <td mat-cell *matCellDef="let element"> {{element.subscription.activationDate*1000 | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </th>
      <td mat-cell *matCellDef="let element"> {{element.subscription.expirationDate*1000 | date: 'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="subscriptionType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscription Type </th>
      <td mat-cell *matCellDef="let element"> {{element.subscription.subscriptionType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
