<div style="padding: 6px">
  <table mat-table matSort martSortActvive='startDate' matSortDirection="desc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="trainerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.userFirstName}} {{element.userLastName}}   </td>
    </ng-container>

    <!-- Edit Tax Version Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" width="10%">
        <p *ngIf="element.rating == 0">No rating yet</p>
        <ngb-rating *ngIf="element.rating != 0"  [(rate)]=element.rating [readonly]=true max="5"></ngb-rating>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
