
<app-main-nav (messageEvent)="receiveMessage($event)"></app-main-nav>
<div style="margin-left: 200px">
  <app-edit-account *ngIf="message=='/editAccount'"></app-edit-account>
  <app-add-appointment *ngIf="message=='/activities'"></app-add-appointment>
  <app-delete-appointment *ngIf="message=='/appointments'"></app-delete-appointment>
  <app-all-trainers *ngIf="message=='/allTrainers'"></app-all-trainers>
  <app-give-rating *ngIf="message=='/rating'"></app-give-rating>
  <app-appointment-history *ngIf="message=='/activitiesHistory'"></app-appointment-history>
</div>
