<div>
  <mat-card>
    <mat-card-content>

      <form class="example-form" [formGroup]="enableUserForm" (ngSubmit)="enableUser()">
        <p *ngIf="users.length ==0">No users</p>
        <mat-form-field *ngIf="users.length !=0">
          <mat-select placeholder="User Name"
                      [formControl]="enableUserForm.controls['userName']">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user.firstName +" "+user.lastName}}
            </mat-option>

          </mat-select>
        </mat-form-field>
        <small
          *ngIf="enableUserForm.controls['userName'].hasError('required') && enableUserForm.controls['userName'].touched"
          class="form-error-msg"> User Name is required </small>

        <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="enableUserForm.invalid">Enable user</button>

      </form>

    </mat-card-content>
  </mat-card>
</div>
