<div style="padding: 6px">
  <table mat-table matSort martSortActvive='startDate' matSortDirection="desc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="trainerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.userFirstName}} {{element.userLastName}}   </td>
    </ng-container>

    <!-- Edit Tax Version Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" width="10%">

        <ngb-rating [(ngModel)]=element.rating [(rate)]=element.rating max="5" (click)="updateClientRatings(element.id,element.rating)" ></ngb-rating>
        <!--<ngb-rating name="{{item.BookingId}}" [(ngModel)]="item.Client_Rating"  [(rate)]=item.Client_Rating  (click)="updateClientRatings(item.BookingId,item.Client_Rating)">-->
        <p *ngIf="element.rating==0">No rating yet</p>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
