<div>
  <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
  <mat-card>
    <mat-card-content>
      <form class="example-form" [formGroup]="addUserForm" (ngSubmit)="addUser()">

        <mat-form-field class="example-full-width">
          <input matInput name="firstName" placeholder="First Name" value=""
                 [formControl]="addUserForm.controls['firstName']">
        </mat-form-field>
        <small
          *ngIf="addUserForm.controls['firstName'].hasError('required') && addUserForm.controls['firstName'].touched"
          class="form-error-msg"> Last name is required </small>

        <mat-form-field class="example-full-width">
          <input matInput name="lastName" placeholder="Last Name" value=""
                 [formControl]="addUserForm.controls['lastName']">
        </mat-form-field>
        <small
          *ngIf="addUserForm.controls['lastName'].hasError('required') && addUserForm.controls['lastName'].touched"
          class="form-error-msg"> Last name is required </small>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" value=""
                 [formControl]="addUserForm.controls['email']"
          >
        </mat-form-field>
        <small
          *ngIf=" addUserForm.controls['email'].hasError('email') && addUserForm.controls['email'].touched"
          class="form-error-msg"> Email is required </small>


        <mat-form-field>
          <mat-select placeholder="User type"
                      [formControl]="addUserForm.controls['userType']">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field>
        <small
          *ngIf="addUserForm.controls['userType'].hasError('required') && addUserForm.controls['userType'].touched"
          class="form-error-msg"> User type is required </small>

        <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="addUserForm.invalid">Add user</button>

      </form>

    </mat-card-content>
  </mat-card>
</div>

