<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-material-multilevel-menu (selectedItem)="selectedItem($event)"  [items]='clientItems' *ngIf="location.includes('/client')">
      </ng-material-multilevel-menu>
      <ng-material-multilevel-menu (selectedItem)="selectedItem($event)"  [items]='adminItems' *ngIf="location.includes('/admin')">
      </ng-material-multilevel-menu>
      <ng-material-multilevel-menu (selectedItem)="selectedItem($event)"  [items]='trainerItems' *ngIf="location.includes('/trainer')">
      </ng-material-multilevel-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ul style="width: 100%;margin-top:11px; display: flex; list-style-type: none; align-items: center; justify-content: space-between;">
        <li style="float: left;display: table-cell;width: auto;text-align: center;"><span style="font-size: 15px;">Hello {{userName}}</span></li>
        <li style="display: table-cell;width: auto;text-align: center;"><span>Fitness Club</span></li>
        <li style="float: right;display: table-cell;width: auto;text-align: center;"><button mat-button (click)="logout()">Logout</button></li>
      </ul>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
