
<div style="padding: 6px">
  <mat-card *ngIf="activities.length ==0"><mat-card-content><p>No activities to display</p></mat-card-content></mat-card>
  <table *ngIf="activities.length !=0" mat-table matSort martSortActvive='startDate' matSortDirection="desc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="trainerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.trainer.firstName}} {{element.trainer.lastName}}   </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate*1000 | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.availableSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remainingSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.remainingSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
      <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>


    <!-- Edit Tax Version Column -->
    <ng-container matColumnDef="addAppointment">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" width="10%">
        <button mat-button [disabled]="!element.available" (click)="addAppointment(element.id)" color="primary">Add Appointment</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
