
<div>
  <mat-card>
    <mat-card-content>
      <div class="">
        <p> Choose time</p>
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
        <hr>
      </div>
      <form  class="example-form" [formGroup]="addActivityForm" (ngSubmit)="addActivity()">

        <div class="">
          <mat-form-field>
            <input matInput     [min]="minDate"
                   [matDatepicker]="picker" placeholder="Choose a date"  [formControl]="addActivityForm.controls['startDate']">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <small
            *ngIf="addActivityForm.controls['startDate'].hasError('required') && addActivityForm.controls['startDate'].touched"
            class="form-error-msg"> Date is required </small>
        </div>

        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput name="duration" placeholder="Duration" value=""
                   [formControl]="addActivityForm.controls['duration']">
          </mat-form-field>
          <small
            *ngIf="addActivityForm.controls['duration'].hasError('number') && addActivityForm.controls['duration'].touched"
            class="form-error-msg"> Duration is required </small>
        </div>


        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput name="title" placeholder="Title" value=""
                   [formControl]="addActivityForm.controls['title']">
          </mat-form-field>
          <small
            *ngIf="addActivityForm.controls['title'].hasError('required') && addActivityForm.controls['title'].touched"
            class="form-error-msg"> Title is required </small>
        </div>


        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput name="availableSeats" placeholder="Available Seats" value=""
                   [formControl]="addActivityForm.controls['availableSeats']">
          </mat-form-field>
          <small
            *ngIf="addActivityForm.controls['availableSeats'].hasError('required') && addActivityForm.controls['availableSeats'].touched"
            class="form-error-msg"> Available seats is required </small>
        </div>


        <mat-form-field>
          <mat-select placeholder="Activity type"
                      [formControl]="addActivityForm.controls['activityType']">
            <mat-option *ngFor="let at of activityTypes" [value]="at.value">
              {{at.viewValue}}
            </mat-option>

          </mat-select>
        </mat-form-field>
        <small
          *ngIf="addActivityForm.controls['activityType'].hasError('required') && addActivityForm.controls['activityType'].touched"
          class="form-error-msg"> Activity type is required </small>

        <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="addActivityForm.invalid">Add</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<div style="padding: 6px">
  <table mat-table matSort martSortActvive='startDate' matSortDirection="desc" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="trainerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.trainer.firstName}} {{element.trainer.lastName}}   </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate*1000 | date: 'dd-MM-yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="availableSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.availableSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="remainingSeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Remaining Seats </th>
      <td mat-cell *matCellDef="let element"> {{element.remainingSeats}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
      <td mat-cell *matCellDef="let element"> {{element.available}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
