<div class="page-wrap height-100 mat-bg-primary main-div">
  <div class="session-form-hold center">
    <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>
    <mat-card>
      <mat-card-content>


        <div class="text-center pb-1">
          <!--<img src="assets/images/logo.png" alt="" class="mb-05">-->
          <p class="text-muted m-0">Sign in to your account</p>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="signin()">
          <div class="">
            <mat-form-field class="full-width">
              <input
                matInput
                name="username"
                [formControl]="signinForm.controls['username']"
                placeholder="Username"
                value="">
            </mat-form-field>
            <small
              *ngIf="signinForm.controls['username'].hasError('required') && signinForm.controls['username'].touched"
              class="form-error-msg"> Username is required </small>

          </div>

          <div class="">
            <mat-form-field class="full-width">
              <input
                type="password"
                name="password"
                matInput
                [formControl]="signinForm.controls['password']"
                placeholder="Password"
                value="">
            </mat-form-field>
            <small
              *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched"
              class="form-error-msg"> Password is required </small>
          </div>


          <small
            *ngIf="serverErrorMessage"
            class="form-error-msg center"> {{serverErrorMessage}} </small>

          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="signinForm.invalid">Sign in</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
