<div>
  <mat-card>
    <mat-card-content>

      <!--<mat-button-toggle-group [value]="toogle" name="choose" aria-label="User type" #group="matButtonToggleGroup">-->
      <!--<mat-button-toggle (change)="onValChange($event.value)" value="CLIENT">CLIENT</mat-button-toggle>-->
      <!--<mat-button-toggle (change)="onValChange($event.value)" value="TRAINER">TRAINER</mat-button-toggle>-->
      <!--</mat-button-toggle-group>-->
          <p>Disable Trainer</p>
        <form class="example-form" [formGroup]="disableTrainerForm" (ngSubmit)="disableUser('TRAINER')">
          <p *ngIf="trainers.length ==0">No users</p>
          <mat-form-field *ngIf="trainers.length !=0">
            <mat-select placeholder="User Name"
                        [formControl]="disableTrainerForm.controls['userName']">
              <mat-option *ngFor="let user of trainers" [value]="user.id">
                {{user.firstName +" "+user.lastName}}
              </mat-option>

            </mat-select>
          </mat-form-field>
          <small
            *ngIf="disableTrainerForm.controls['userName'].hasError('required') && disableTrainerForm.controls['userName'].touched"
            class="form-error-msg"> User Name is required </small>

          <button mat-raised-button class="mat-primary full-width mb-1" ng-reflect-disabled="false"  [disabled]="disableTrainerForm.invalid">Disable trainer</button>

        </form>

    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
          <p>Disable Client</p>
        <form class="example-form" [formGroup]="disableClientForm" (ngSubmit)="disableUser('CLIENT')">
          <p *ngIf="clients.length ==0">No users</p>
          <mat-form-field *ngIf="clients.length !=0">
            <mat-select placeholder="User Name"
                        [formControl]="disableClientForm.controls['userName']">
              <mat-option *ngFor="let user of clients" [value]="user.id">
                {{user.firstName +" "+user.lastName}}
              </mat-option>

            </mat-select>
          </mat-form-field>
          <small
            *ngIf="disableClientForm.controls['userName'].hasError('required') && disableClientForm.controls['userName'].touched"
            class="form-error-msg"> User Name is required </small>

          <button mat-raised-button class="mat-primary full-width mb-1" ng-reflect-disabled="false" [disabled]="disableClientForm.invalid">Disable client</button>

        </form>
    </mat-card-content>
  </mat-card>
</div>
