<div>
  <mat-card>
    <mat-card-content>

      <form  class="example-form" [formGroup]="createSubscriptionForm" (ngSubmit)="createSubscription()">
        <div class="">
          <mat-form-field>
            <mat-select placeholder="User Name"
                        [formControl]="createSubscriptionForm.controls['userName']">
              <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.firstName +" "+user.lastName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <small
            *ngIf="createSubscriptionForm.controls['userName'].hasError('required') && createSubscriptionForm.controls['userName'].touched"
            class="form-error-msg"> User Name is required </small>
        </div>

        <div class="">
          <mat-form-field>
            <input matInput     [min]="minDate"
                   [matDatepicker]="picker" placeholder="Choose a date"  [formControl]="createSubscriptionForm.controls['startDate']">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <small
            *ngIf="createSubscriptionForm.controls['startDate'].hasError('required') && createSubscriptionForm.controls['startDate'].touched"
            class="form-error-msg"> Date is required </small>
        </div>
        <div class="">

          <mat-form-field>
            <mat-select placeholder="Subscription Type"
                        [formControl]="createSubscriptionForm.controls['subscriptionType']">
              <mat-option *ngFor="let stype of stypes" [value]="stype.value">
                {{stype.viewValue}}
              </mat-option>

            </mat-select>
          </mat-form-field>
          <small
            *ngIf="createSubscriptionForm.controls['subscriptionType'].hasError('required') && createSubscriptionForm.controls['subscriptionType'].touched"
            class="form-error-msg"> User type is required </small>

        </div>
        <div class="">
          <button mat-raised-button class="mat-primary full-width mb-1" [disabled]="createSubscriptionForm.invalid">Add Subscription</button>
        </div>
      </form>


    </mat-card-content>
  </mat-card>
</div>
